@import url('https://fonts.googleapis.com/css?family=Orbitron+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.body {
margin:0;
padding:0;
}

.calcBody{
  width: 400px;
  height: 600px;
  background-color: #8393a3;
  margin:50px 100px;
  /*transform: skewX(-2deg); */
  border-radius: 30px;
  box-shadow: lightgray 10px 10px;
  color: rgb(54, 54, 54);
  padding: 60px 40px 40px;   
  border: solid 4px rgb(167, 175, 197);    
}

.numInterface{
  border-radius: 30px;
  height:75%;
  margin: 40px 0 0 0;
  /* padding:10% 10% 0 10%; */
}

.calcNumPad {
/*  background-color:rgba(255, 255, 255, 0.233);*/
  width: 100%;
  /* background-clip: inherit; */
  /*margin: 20% 10% 10%;*/
  /* margin: 40% 0 0 0; */
  color: rgb(43, 43, 43);    
  /*float: left; /* NO GOOD!!! DO IT DIFFERENTLY */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height:92%;
  grid-gap: 14px;
}

.numberBtn {
  background-color: rgb(229, 241, 241);
  text-align: center;
  /*padding: 40%;*/
  border-radius: 10px;
  border: solid 1px rgb(171, 184, 201);
  box-shadow: rgba(36, 36, 36, 0.151) 5px 5px;
  font: bold 3rem roboto, arial;
  color: rgb(143, 143, 143);
  text-overflow: initial;
  text-shadow: rgb(116, 112, 112) -1px -1px;
  text-indent: 0em;
  font-family: "Orbitron";
}

.calcScreen{
  height: 100px;
  background-color: rgb(206, 206, 206);
  border-radius: 10px;
  vertical-align: auto;
  padding: 0 5% 0 6%;
  font-family: "Orbitron";
  font-size: 5em;
  font-style: initial;
  color: rgb(107, 107, 107);
  box-shadow: inset 6px 6px 5px rgba(0, 0, 0, 0.192);
  text-align: right;
  border: solid 2px rgb(144, 165, 182);
}

/*
OLD STUFF
---------

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
